<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- product-item start -->
        <div *ngFor="let tempProduct of products" class="col-md-3 col-sm-4 col-xs-12">
          <div class="product-item">
            <div class="product-img">
              <a routerLink="/products/{{ tempProduct.id }}">
                <img src="{{ tempProduct.imageUrl }}" alt=""/>
              </a>
            </div>
            <div class="product-info">
              <h6 class="product-title">
                <a routerLink="/products/{{ tempProduct.id }}">{{ tempProduct.name }}</a>
              </h6>
              <div class="pro-rating">
                <a href="#"><i class="fal fa-star"></i></a>
                <a href="#"><i class="fal fa-star"></i></a>
                <a href="#"><i class="fal fa-star"></i></a>
                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
              </div>
              <h3 class="pro-price">{{ tempProduct.unitPrice | currency:'USD' }}</h3>
              <ul class="action-button">
                <li>
                  <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                </li>
                <li>
                  <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                </li>
                <li>
                  <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                </li>
                <li>
                  <a (click)="addToCart(tempProduct)"><i class="far fa-cart-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- product-item end -->
        <!--card
                <div *ngFor="let tempProduct of products" class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <a routerLink="/products/{{ tempProduct.id }}">
                    <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                  </a>
                  <div class="card-body">
                    <a routerLink="/products/{{ tempProduct.id }}">
                      <p>{{ tempProduct.name }}</p>
                    </a>
                    <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                    <button (click)="addToCart(tempProduct)" class="btn btn-dark btn-sm"><i class="fa fa-shopping-cart"></i></button>
                    <button  (click)="onEditPhoto(tempProduct)" class="btn btn-dark btn-sm"><i class="fas fa-edit"></i></button>
                    <p *ngIf="editPhoto && currentProduct==tempProduct">
                      <input type="file" (change)="onSelectedFile($event)">
                      <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
                      {{progress}}
                    </p>
                  </div>
                </div>
                </div>-->

                <!-- loop over the collection of products
                <div *ngFor="let tempProduct of products" class="col-md-3">

                  <div class="product-box">

                    <a routerLink="/products/{{ tempProduct.id }}">
                      <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                    </a>

                    <a routerLink="/products/{{ tempProduct.id }}">
                      <h1>{{ tempProduct.name }}</h1>
                    </a>

                    <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                    <button (click)="addToCart(tempProduct)" class="btn btn-dark btn-sm">Add to cart</button>
                  </div>

                </div> -->

        <!-- if products empty then display a message-->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No products found.
        </div>

      </div>


      <!-- begin footer -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">

                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                (pageChange)="listProducts()">

                </ngb-pagination>

              </div>

              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>

                <select (change)="updatePageSize($event.target.value)">
                  <option selected="true">10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- end footer -->

    </div>
  </div>
</div>
